@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AuthUrlPagesProvider AuthUrlProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>Welcome @context?.User?.Identity?.Name</span>

                    @if (AuthUrlProvider.AuthenticationEnabled)
                    {
                        <form action="@AuthUrlProvider.LogoutPage" method="post">
                            <button class="nav-link btn btn-link" type="submit">
                                <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                            </button>
                        </form>
                    }
                </Authorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    public ClaimsPrincipal? ClaimsPrincipal { get; set; }

    protected override async System.Threading.Tasks.Task OnParametersSetAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        ClaimsPrincipal = authState.User;
    }

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}